.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  height: 450px;
  width: 600px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  &__header {
    box-sizing: border-box;
    padding: 10px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
  }

  &__content {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__cross-icon {
    cursor: pointer;
    font-size: 20px;
  }
}
